<!-- Site footer -->

          <div class="row">
<div class="col-lg-12">

  <h3>API pour commander un fichier avec la voix</h3>
  <p> &copy;  Copyright 2020 by MOBY Share and Command  </p>
   
</div>

<br>
 <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
</div>
