<!-- Site footer -->

  <div class="row">
<div class="col-lg-12">


<h2 class="copy">  <p> &copy;  Copyright 2020 by MOBY Share and Command  </p></h2>
   
</div>

<aside>
 <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
</aside>

</div>
