<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Bienvenue </h1>
  <p class="lead"> Sur notre plateforme de pilotage et partage de fichier</p>
  <p class="lead">Utilisateur: {{username}}</p>
  <div class="fit-picture"> 
    
</div>