<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Bienvenue </h1>
  <p class="lead"> Sur notre plateforme de pilotage et partage de fichier.</p>
  <p class="lead"> Connecter vous pour profiter de toutes les fonctions de l'API</p>
  <div class="fit-picture"> 
    
</div>