      <div class="jumbotron">
      <div className="row">

      <div className="col-10 mx-auto text-center text-title text-uppercase pt-5">

     <center> <h1 className="display-3">404</h1></center>

     <center> <div className="h1" > <h1 >ERREUR</h1> </div></center>

     <center> <h2>PAGE NOT FOUND. </h2></center>


      </div>

      </div>
         
      </div>
<div>
  