<div class="jumbotron"><form class="form-signin" action="/media/" method="POST" enctype="multipart/form-data">
  <h2 class="form-signin-heading">upload file</h2>

  <label for="inputFile" class="sr-only">file</label>
  <input type="file" id="inputFile" name="filefield" class="form-control" placeholder="file" required autofocus>

    <input type="text" name="textfield" value="file" hidden><br />

  <br/>
  
  <button class="btn btn-lg btn-default btn-block" type="submit">upload</button>
  {{!-- <embed src="http://www.ipelsht.rnu.tn/useruploads/files/R%C3%A9seaux%20informatique.pdf" width=800 height=500 type='application/pdf'/>
   --}}{{!-- <iframe src="http://www.ipelsht.rnu.tn/useruploads/files/R%C3%A9seaux%20informatique.pdf" width = "1000" height = "1200"></iframe> --}}
{{!-- <iframe src="http://0.0.0.0:5000/media/files/coursCPAR21579116552970.pdf" width = "1000" height = "1200"></iframe>

<a href="file:///D:/setup/Test_reactJS/MOBY-back/Ressources/Media/files/coursCPAR21579116552970.pdf">Notre grille tarifaire (PDF)</a>
 --}}
</form>
</div>
<div>