
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
    color: black;
    size: 50px;
}

aside{
  float: right;
  width: 20%;
  margin:0px 50px;
  padding-bottom: 0px
  ;
}
.copy{
  
  margin-top: 4px;
  margin-bottom: 0px;
  padding-top: 1px;
  color: rgb(79, 122, 214);

}

.formprofil{
  padding: 100px;
    height: 787px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color:cadetblue;
    
}

body {
  padding-top: 0px;
  padding-bottom: 40px;
  width: 100%;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.row{
  background-color: #333;
  color: aqua;
  
}

footer {
  
  padding: 20px;
  margin-top: 80px;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 100%;
 
}

/* footer ul {
  
  list-style: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

footer ul li a {
  color: #eee;
} */


/* .form-delete {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
} */


.fa {
  /* padding: 40px;
  font-size: 60px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
  border-radius: 50%; */
  padding: 20px;
  font-size: 30px;
  width: 50px;
  margin: 10px 10px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.masthead{
  overflow: hidden;
  background-color: #333;
}
